@{
    ViewBag.Title = "Sign On";
}

<div class="row">
    <div class="col-md-12">
        <span style="color:red;font-size: large;font-weight: bolder;">There was an issue logging you into your training portal. Please contact your system administrator.</span>
    </div>
</div>