@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <span style="color:red;font-size: large;font-weight: bolder;">We can't log you in at the moment. Please contact your administrator.</span>
    </div>
</div>